@model Model.ModelCustom.DetailQuizResuilt

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .banner-img img, inner-page {
        height: 350px;
    }
</style>
<section class="banner inner-page">
    <div class="banner-img"><img src="~/Asserts/Client/images/banner/quiz.jpg" alt=""></div>
    <div class="page-title">
        <div class="container">
            <h1>Quiz Result</h1>
        </div>
    </div>
</section>
<section class="breadcrumb white-bg">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Resuilt Quiz</a></li>
        </ul>
    </div>
</section>

<section class="quiz-view">
    <!-- Start Change -->
    <div class="container">
        <div class="quiz-title">
            <h2>Resuilt Quiz</h2>
        </div>
        <div class="row">
            <div class="col-sm-4 col-md-3">
                <!-- Fill đúng , Active sai -->
                <h2>Question</h2>
                <div class="qustion-list">

                    @{  
                        IEnumerable<Model.ModelCustom.listAnswer> list = new Model.Dao.ExamDao().GetListAnswers(ViewBag.GetuserclassexamID);
                        int i = 1;
                        foreach (var item in list)
                        {

                            if (item.IsRight == true)
                            {
                                <div class="qustion-slide fill">
                                    <div class="qustion-number">Question @i</div>
                                    <span>a</span>
                                </div>
                            }

                            else
                            {
                                <div class="qustion-slide active">
                                    <div class="qustion-number">Question @i</div>
                                    <span>b</span>
                                </div>
                            }
                            i++;
                        }
                    }
                </div>

            </div>
            <div class="col-sm-8 col-md-9">
                <div class="quiz-result">
                    <h3>Quiz</h3>
                    <div class="result-info">
                        <div class="info-slide">
                            <p>Tên Class<span>@Model.ExamName</span></p>
                        </div>
                        <div class="info-slide">
                            <p>Tên Quiz<span>@Model.ClassName</span></p>
                        </div>
                        <div class="info-slide">
                            <p>Thời Gian Hoàn Thành<span>@Model.TimeComplete</span></p>
                        </div>
                    </div>
                </div>
                <div class="quiz-result">
                    <h3>Stats</h3>
                    <div class="result-info">
                        <div class="info-slide">
                            <p>Số Câu Sai<span>@ViewBag.CountWrong</span></p>
                        </div>
                        <div class="info-slide">
                            <p>Số Câu Đúng<span>@ViewBag.CountRight</span></p>
                        </div>
                        <div class="info-slide">
                            <p>Tổng Điểm<span>@Model.MaxPoint</span></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Change -->
</section>