@model List<Model.EF.User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Quản lí thông tin người dùng</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Thông tin cơ bản</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <!-- /.row -->
            <!-- Main row -->
            <div class="row">
                <!-- right col (We are only adding the ID to make the widgets sortable)-->
                <section class="col-lg-12 connectedSortable">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Danh sách người dùng</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Họ & Tên</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Trạng Thái</th>
                                        <th>Kích hoạt</th>
                                        <th>Lý do khóa</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.UserID</td>
                                            <td>@item.FullName</td>
                                            <td>@item.Email</td>
                                            <td>@item.PhoneNumber</td>
                                            <td>@(item.Online == false ? "Đã Offline":"Đang Online")</td>
                                            <td class="textlock">@(item.LockStatus == false?"Kích hoạt":"Khóa")</td>
                                            @using (Html.BeginForm("ChangeStatus", "ManagerUser", FormMethod.Get))
                                            {
                                                <td>
                                                    @if (item.LockStatus == false)
                                                    {
                                                        <textarea class="form-control" rows="1" name="commentlock"></textarea>
                                                    }
                                                    else
                                                    {
                                                        <textarea disabled class="form-control" rows="1" name="commentlock">@item.LockNote</textarea>
                                                    }

                                                </td>
                                                <td style="word-spacing: 20px;">
                                                    <a href="/admin/quan-ly-nguoi-dung/@item.UserName-@item.UserID">
                                                        <i class="fas fa-eye" style="color: blue;"></i>
                                                    </a>
                                                    <a type="submit" href="" class="lockuser" data-id="@item.UserID">
                                                        @if (item.LockStatus == false)
                                                        {
                                                            <i style="color: red" class="fas fa-lock"></i>
                                                        }
                                                        else
                                                        {
                                                            <i style="color: red" class="fas fa-lock-open"></i>
                                                        }
                                                    </a>
                                                </td>
                                            }
                                        </tr>
                                    }

                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>ID</th>
                                        <th>Họ & Tên</th>
                                        <th>Email</th>
                                        <th>Số điện thoại</th>
                                        <th>Trạng Thái</th>
                                        <th>Kích hoạt</th>
                                        <th>Lý do khóa</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <!-- /.card-body -->
                    </div>
                </section>
                <!-- right col -->
            </div>
            <!-- /.row (main row) -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@section jsFooter{

    <script src="~/Asserts/Admin/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Asserts/Admin/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables -->
    <script src="~/Asserts/Admin/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Asserts/Admin/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/Asserts/Admin/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Asserts/Admin/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- DataTables -->
    <link rel="stylesheet" href="~/Asserts/Admin/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Asserts/Admin/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <!-- AdminLTE App -->
    <script src="~/Asserts/Admin/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Asserts/Admin/dist/js/demo.js"></script>
    <!-- page script -->
    <script>
        var user = {
            init: function () {
                $(function () {
                    $("#example1").DataTable({
                        "responsive": true,
                        "autoWidth": false,
                        "paging": true,
                        "ordering": true,
                        "searching": true,

                    });
                });
                user.registerEvents();

            },
            registerEvents: function () {
                $('.lockuser').off('click').on('click', function (e) {
                    e.preventDefault();
                    var btn = $(this);
                    var id = btn.data('id');
                    var comment = $(this).closest('tr').find('td:eq(6) .form-control');
                    var commentlock = comment.val();
                    var check = $(this).closest('tr').find('td:eq(5)');
                    $.ajax({
                        type: "POST",
                        url: "/Admin/ManagerUser/ChangeStatus",
                        data: { id: id, commentlock: commentlock },
                        dataType: "json",
                        success: function (response) {
                            if (response.status == true) {
                                btn.html('<i style="color: red" class="fas fa-lock-open"></i>');
                                check.html('Khóa');
                                comment.attr("disabled", "true");

                            } else {
                                btn.html('<i style="color: red" class="fas fa-lock"></i>');
                                check.html('Kích hoạt');
                                commentlock = "";
                                comment.val("");
                                comment.removeAttr('disabled');


                            }
                        }
                    });
                });
            }
        }
        user.init();


    </script>
}