
@{
    ViewBag.Title = "Reset mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using CaptchaMvc.HtmlHelpers
<link href="~/Asserts/Client/css/docss.css" rel="stylesheet" />
<section class="banner inner-page">
    <div class="banner-img"><img style="height: 350px !important" src="~/Asserts/Client/images/banner/register-bannerImg.jpg" alt=""></div>
    <div class="page-title">
        <div class="container">
        </div>
    </div>
</section>
<section class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="/Home/Index">Trang chủ</a></li>
            <li><a href="/Login/ResetPassword">Đặt lại mật khẩu</a></li>
        </ul>
    </div>
</section>
@using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post, htmlAttributes: new { @enctype = "multipart/form-data", @id = "fromCaptcha" }))
{
    @Html.AntiForgeryToken()
    <section class="login-view" style="margin-bottom: 2rem !important;">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <img style="height:700px;width:100%;" src="https://wallpaperaccess.com/full/749909.jpg" />
                </div>
                <div class="col-sm-6">
                    <div class="section-title">
                        <h2>Đặt lại mật khẩu</h2>
                    </div>
                    @if (ViewBag.Success != null)
                    {
                        <div class="alert alert-success alert-dismissible fade in">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Thành công!</strong>
                            <div class="input-box">
                                <p class="">@ViewBag.Success</p>
                            </div>
                        </div>
                    }
                    @if (ViewBag.Error != null)
                    {
                        <div class="alert alert-warning alert-dismissible fade in hide" id="alertError">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Lỗi!</strong>
                            <div class="input-box">
                                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    }


                    <div class="input-box">
                        <label>Địa chỉ mail</label>
                        <input name="Email" />
                    </div>
                    <div class="input-box">
                        @Html.Captcha(refreshText: "Thử lại", inputText: "Nhập mã captcha", length: 6, requiredMessageText: "Is required field", addValidationSpan: true)
                        <p class="text-danger">@ViewBag.ErrorMessage</p>
                    </div>
                    @*<div class="input-box">
                            <input type="password" placeholder="Nhập mã xác nhận">
                        </div>*@
                    <div class=" text-center">
                        <input type="submit" value="Cập Nhật" class="btn btn-danger">
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@section jsFooter{
    <script type="text/javascript" src="~/Asserts/Client/js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="~/Asserts/Client/js/bootstrap.js"></script>
    <script>
        $("#alertError").removeClass('hide');
        $("#alertError").delay(7000).slideUp(1000);
    </script>
}

